/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-waves-display-compact {
	padding: 30px 20px;
	text-align: center;
	background: #d3d3d3;
}
