/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 // mohrblack
 // rubik

.wp-block-waves-display-compact {
	--wp--wac--radius: 6px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #048cc2;
	color: #fff;
	min-height: 392px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	// padding: 20px;
	h3, h4, h5, h6 {
		margin: 0;
	}
	select {
		height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

		// appearance: none;
    // user-select: none;
    border-radius: var(--wp--wac--radius);
    cursor: pointer;
    font: var(--wp--preset--font-family--rubik);
		font-weight: 300;
    letter-spacing: inherit;
    padding: 4px 4px 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    display: block;
    min-width: 0;
    width: 100%;
    
		background: #fff;
    // padding: 16.5px 14px;
	}
	.loading {
		text-align: center;
		svg {
			width: 50px;
		}
	}
	.heading {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 10px;
		& > h4 {
			margin: 0;
			color: #fff;
		}
		.selector {
			// grid-area: 1 / 2 / 2 / 3;
			grid-column: span 2;
			display: flex;
			justify-content: flex-end;
			select {
				background: transparent;
				color: #fff;
				width: 100%;
				text-align: center;
				font-family: (--wp--preset--font-family--rubik);
				font-size: 1.5rem;
				border-bottom: solid 2px #fff;
				border-radius: 0;
				letter-spacing: 0.05em;
				padding-left: 20px;
				padding-right: 20px;
				&:focus-visible {
					outline: none;
				}		
			}
		}
	}

	.latest-observations {
		& > h4 {
			margin: 1.25em 0 0.75em;
			color: #fff;
		}
		.observations {
			color: #000;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 10px;
			@media (min-width: 768px) {
				grid-template-columns: repeat(4, 1fr);
			}
			// @media (min-width: 1000px) {
			// 	grid-template-columns: repeat(8, 1fr);
			// }
			& > * {
				// background: #fbfbfb;
				&.observation {
					// padding: 10px;
					border-radius: var(--wp--wac--radius);
					// border: 1px solid #fff;
					background: hsla(0,0%,6%,.8);
					// border: 1px solid rgb(229, 234, 242);
					// background: #fdfdfe;
					grid-column: span 2;
					display: grid;
					justify-content: space-between;
					grid-template-columns: repeat(3, 1fr);
					gap: 10px 5px;
					padding-left: 10px;
					padding-right: 10px;
					& > * {
						// border: 1px solid #000;
						// background: #0f0f0fcc;
						padding: 0; // 15px;
						border-radius: var(--wp--wac--radius);
						color: #fff;
					}
					.metric {
						display: flex;
						flex-direction: column;
						justify-content: center;
						aspect-ratio: 1.1;
						align-items: center;
						gap: 12px;
						.label {
							color: #59c4ef; // #fff;
						}
						p {
							margin: 0;
							font-size: 1.9rem;
							line-height: 1em;
							height: 31px;
							small {
								font-size: 1.1rem;
								margin-left: 2px;
							}
						}
					}
					.icon {
						display: inline-block;
						width: 1em;
						height: 1em;
						contain: strict;
						box-sizing: content-box!important;
						font-size: 40px;
						svg {
							display: block;
							overflow: visible;
							height: 100% !important;
							width: 100% !important;
							font-size: 40px;
							stroke-width: 4;
						}
					}
					h5 {
						color: #fff; // #048cc2;
						display: flex;
						flex-direction: column;
						justify-content: center;
						aspect-ratio: 1.1;
						align-items: center;
						gap: 3px;
						svg {
							width: 40px;
						}
					}
				}
				&.observation-small {
					background: #0f0f0fcc;
					border: 1px solid #000;
					color: #fff;
					padding: 10px 15px;
					border-radius: var(--wp--wac--radius);
					&.sea-barometer,
					&.sea-tide {
						.icon, svg {
							width: 20px;
							height: 20px;
						}
					}
					&.sea-barometer {
						h5, h6 {
							gap: 8px;
						}
					}
					&.sea-state {
						.icon, svg {
							width: 22px;
							height: 22px;
						}	
					}
					&.sea-tide {
						h5, h6 {
							gap: 5px;
						}
					}
					&.sea-temperature {
						h5, h6 {
							gap: 3px;
						}
					}
					@media (min-width: 768px) {
						// aspect-ratio: 2;
						padding-top: 20px;
						padding-bottom: 20px;
					}
					h5, h6 {
						color: #59c4ef; // #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 8px;
						.icon,
						svg {
							width: 24px;
							height: 24px;
							* {
								stroke: #59c4ef !important;
							}
						}
					}
					p {
						text-align: center;
						margin: 4px 0 0;
						font-size: 1.9rem;
						sup,
						small {
							font-size: 1.1rem;
							margin-left: 2px;
						}
					}
					&.sea-state {
						.level-0 {
							color: #64d8b1;
						}
						.level-1 {
							color: #FFDC48;
						}
						.label-2 {
							color: #dc3545;
						}
					}
				}
			}
		}
	}
	.coastal-warnings {
		& > p {
			color: #94000D;
			text-align: center;
			background: #ffbdc2;
			border: 1px solid #94000D;
			margin: 10px auto;
			border-radius: 5px;
			font-size: 0.9rem;
			padding: 8px 30px;
			a {
				color: #94000D;
			}
		}
	}
	.historic-observations {
		@media (min-width: 1000px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			align-items: start;
		}
		.chart-wrapper {
			min-width: 0;
			& + .chart-wrapper {
				margin-top: 20px;
				@media (min-width: 1000px) {
					margin-top: 0;
				}
			}
			h5 {
				color: #fff;
				display: flex;
				gap: 7px;
				justify-content: center;
				svg {
					width: 20px;
				}
			}
		}
		// .icon {
		// 	display: none;
		// }
	}
	.map-wrapper {
		// max-width: 620px;
		height: 392px;
		text-align: center;
		#map {
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
		}
		svg {
			width: 50px;			
		}
	}
}
